<ul class="list-group">
  <% feeds.each do |feed|%>
    <li class="list-group-item"><%= feed.title %>&nbsp<% if current_user.id == feed.user_id %>|<%= link_to 'Edit', edit_user_feed_path(current_user, feed)%><%end%>&nbsp|&nbsp<%= link_to 'Show', user_feed_path(current_user, feed)%>&nbsp<% if current_user.id == feed.user_id %>|&nbsp<%= link_to 'Delete', user_feed_path(current_user, feed), method: :Delete%><%end%>&nbsp|&nbsp<% unless current_user.userbookmarks.find_by_feed_id(feed.id) %> <%= link_to 'Mark as Bookmark', user_feed_book_marked_path(current_user, feed), method: :patch, remote: true%> <%else%> <%= link_to 'Marked', "#"%><%end%></li>
  <% end %>
</ul>
