<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% unless user_signed_in? %>
    <a class="navbar-brand" href="#">Friends-Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <%end%>

  <div class="collapse navbar-collapse" id="navbarNav">
    <% unless user_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link"%>
        </li>
      </ul>
    <%else%>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Feeds', "#", class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Bookmarks', "#", class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Profile', user_path(current_user), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, class: "nav-link", method: :delete%>
        </li>
      </ul>
    <%end%>
  </div>
</nav>